@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    height: calc(100% - 56px);
    width: 250px;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    font-family: "Poppins", sans-serif;
}

.sidebar.collapsed {
    transform: translateX(-100%);
}

/* Content area */
.main-content {
    display: flex;
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
    padding-top: 56px;
    font-family: "Poppins", sans-serif;
    width: calc(100% - 250px);
}

.main-content.sidebar-collapsed {
    margin-left: 0;
    width: 100%;
}

/* Navbar */
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

@media (max-width: 991px) {
    #sidebar.collapsed {
        display: none;
    }

    .main-content.sidebar-collapsed {
        margin-left: 0;
        width: 100%;
    }

    .navbar-nav {
        flex-direction: row;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin-left: 10px;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-toggler,
    .navbar-nav .nav-item {
        display: inline-block;
    }

    @media (max-width: 575px) {
        .navbar-nav {
            flex-direction: row;
            justify-content: space-between;
        }

        .navbar-nav .nav-item {
            margin: 0 5px;
        }

        .navbar-toggler {
            order: 2;
        }

        .navbar-brand,
        .navbar-toggler {
            font-size: 14px;
        }
    }
}

.accordion-body .nav-link {
    cursor: pointer;
}
